// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

a {
    text-decoration: none;
}

//loader from github.com/lukehaas; we can make our own cool loader when we have time
.loader,
.loader:before,
.loader:after {
    background: map-get($colors, primary);;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}
.loader {
    color: map-get($colors, primary);;
    text-indent: -9999em;
    margin: 88px auto;
    position: relative;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
    z-index: 999;
}
.loader:before,
.loader:after {
    position: absolute;
    top: 0;
    content: '';
}
.loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.loader:after {
    left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
    0%,
    80%,
    100% {
    box-shadow: 0 0;
    height: 4em;
    }
    40% {
    box-shadow: 0 -2em;
    height: 5em;
    }
}
// end loader

.toolbar-title h1 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0;
}

.card h1 {
    font-size: map-get($font-sizes, largest);
    color: map-get($colors, primary);
    text-transform: uppercase;
}

.toolbar-background {
    background-color: map-get($colors, dark);
}
.toolbar-title,
.bar-buttons {
    color: map-get($colors, primary);
}

.button-group-container {
    text-align: center;
    padding: map-get($spacings, narrow);
    margin: map-get($spacings, narrow) 0;
}

.content-container {
    padding: map-get($spacings, medium);
}

.card p {
    font-size: map-get($font-sizes, normal);
}

.menu-pic {
    width: map-get($font-sizes, larger);
    height: map-get($font-sizes, larger);
    border-radius: 250px;
    vertical-align: middle;
    margin-right: map-get($spacings, narrow);
    background-size: cover;
    background-repeat: no-repeat;
}

.menu-title {
    vertical-align: middle;
}

.button-wrapper {
    display: inline-block;
}

.circle-button {
    display: inline-block;
    padding: 11px;
    margin-top: map-get($spacings, wide);
    margin-bottom: map-get($spacings, medium);
    background-color: #444444;
    color: #f4f4f4;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 250px;
}

.circle-button ion-icon {
    font-size: map-get($font-sizes, largest);
}

.left-button {
    margin-right: 40px;
}

.right-button {
    margin-left: 40px;
}