page-lessonsList {
    a {
        color: map-get($colors, dark);
    }

    ion-icon {
        vertical-align: middle;
    }

    .card {
        padding: 0;
    }

    .lesson-container {
        border-left: 8px solid map-get($colors, primary);
        padding: map-get($spacings, medium);
    }

    .card h2 {
        font-size: map-get($font-sizes, largest);
        color: map-get($colors, primary);
        text-transform: uppercase;
    }

    .lessons-list, .sessions-list {
        padding-left: 0;
        list-style: none;
    }

    .sessions-list {
        margin-top: map-get($spacings, medium);
    }

    .sessions-list li {
        margin-bottom: map-get($spacings, medium);
    }

    .session-link-group {
        background-color: rgba(0,0,0,0.1);
        border-radius: 3px;
        margin: map-get($spacings, narrow) auto;
        padding: map-get($spacings, narrow);
        text-align: center;
    }
    
    .session-link {
        font-size: map-get($font-sizes, normal);
        margin-right: map-get($spacings, medium);
    }

    .lesson-description {
        margin-bottom: map-get($spacings, medium);
    }

    .lesson-stats-link {
        text-transform: uppercase;
        font-size: normal;
        margin: map-get($spacings, wide) 0;
        font-weight: bold;
    }

    .session-header {
        text-transform: uppercase;
        font-weight: bold;
    }
}
