<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <h1>Lessons</h1>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="loader" *ngIf="!loaded">Loading...</div>
  <div *ngIf="loaded">
    <ul class="lessons-list">
      <li *ngFor="let lesson of lessons; let i = index">
        <ion-card class="content-container">
          <div class="lesson-container">
            <h2>{{lesson.name}}</h2>
            <p class="lesson-description">
              {{lesson.description}}
            </p>
            <a class="lesson-stats-link" href="javascript:void(0);" role="button" title="View Performance Statistics" (click)="goToStats(lesson.id, lesson.name)">
          View Performance Statistics
          </a>
            <hr />
            <ul class="sessions-list">
              <li>
                <h3 class="session-header">Testing The Waters</h3>
                <p class="session-level-desc">This level presents a one-syllable word to get you started.</p>
                <div class="session-link-group">
                  <a class="session-link" (click)="startLevel1(i, mode.listening)" href="javascript:void(0);" role="button" title="Start Listening Skills Session Level 1">
                    <ion-icon name="headset"></ion-icon> Start Listening
                  </a>
                  <a class="session-link" (click)="startLevel1(i, mode.speaking)" href="javascript:void(0);" role="button" title="Start Speaking Skills Session Level 1">
                    <ion-icon name="microphone"></ion-icon> Start Speaking
                  </a>
                </div>
              </li>

              <li>
                <h3 class="session-header">Shallow Dive</h3>
                <p class="session-level-desc">This level presents a session containing twenty of the most commonly used English words.</p>
                <div class="session-link-group">
                  <a class="session-link" (click)="startLevel2(i, mode.listening)" href="javascript:void(0);" role="button" title="Start Listening Skills Session Level 2">
                    <ion-icon name="headset"></ion-icon> Start Listening
                  </a>
                  <a class="session-link" (click)="startLevel2(i, mode.speaking)" href="javascript:void(0);" role="button" title="Start Speaking Skills Session Level 2">
                    <ion-icon name="microphone"></ion-icon> Start Speaking
                  </a>
                </div>
              </li>

              <li>
                <h3 class="session-header">Deep Dive</h3>
                <p class="session-level-desc">This level presents a session with some more challenging words to practice your pronunciation.</p>
                <div class="session-link-group">
                  <a class="session-link" (click)="startLevel3(i, mode.speaking)" href="javascript:void(0);" role="button" title="Start Speaking Skills Session Level 3">
                    <ion-icon name="microphone"></ion-icon> Start Speaking
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </ion-card>
      </li>

      <li>
        <ion-card class="content-container">
          <div class="lesson-container">
            <h2>Challenge List</h2>
            <p class="lesson-description">
              This is a dynamically-curated list of words that you have struggled with.
            </p>
            <ul class="sessions-list">
              <li>
                <p *ngIf="!hasDynamicList">
                  There are currently no words in your challenge list. Either you have not completed a regular session or you have cleared
                  your list!
                </p>
                <div class="session-link-group" *ngIf="hasDynamicList">
                  <a class="session-link" (click)="startDynamic(mode.listening)" href="javascript:void(0);" role="button" title="Start Challenge List Listening Session">
                    <ion-icon name="headset"></ion-icon> Listening Skills
                  </a>
                  <a class="session-link" (click)="startDynamic(mode.speaking)" href="javascript:void(0);" role="button" title="Start Challenge List Speaking Session">
                    <ion-icon name="microphone"></ion-icon> Speaking Skills
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </ion-card>
      </li>
    </ul>
  </div>
</ion-content>