page-phonemeList {
    a {
        color: map-get($colors, dark);
    }

    .card {
        padding: 0;
    }

    .lesson-container {
        border-left: 8px solid map-get($colors, primary);
        padding: map-get($spacings, medium);
    }

    .card h2 {
        font-size: map-get($font-sizes, largest);
        color: map-get($colors, primary);
        text-transform: uppercase;
    }

    .lessons-list, .sessions-list {
        padding-left: 0;
        list-style: none;
    }

    .sessions-list {
        margin-top: map-get($spacings, medium);
    }

    .sessions-list li {
        margin-bottom: map-get($spacings, medium);
    }

    .session-link {
        text-transform: lowercase;
        font-size: map-get($font-sizes, large);
        margin-right: map-get($spacings, medium);
    }

    .lesson-description {
        margin-bottom: map-get($spacings, medium);
    }

    .lesson-stats-link {
        text-transform: uppercase;
        font-size: large;
        margin: map-get($spacings, wide) 0;
        font-weight: bold;
    }

    .session-header {
        text-transform: uppercase;
        font-weight: bold;
    }
}
