page-ListeningMode {
    .screenUnit-play {
        width: 100px;
        height: 100px;
        font-size: 40px;
        text-align: center;
        border-radius: 250px;
        border: 2px solid map-get($colors, medium);
        padding-top: 25px;
        padding-left: 10px;
        margin: map-get($spacings, wide) auto;

        ion-icon {
            color: map-get($colors, medium);
        }
    }

    .button-md {
        font-size: map-get($font-sizes, larger);
        text-transform: lowercase;
        font-weight: normal;
        padding: map-get($spacings, medium) map-get($spacings, wide);
        background-color: map-get($colors, medium);
    }

    .button-group-container {
        margin: 0 auto;
        text-align: center;
    }
}
