<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>{{title}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card class="content-container stat-container">
        <span class="stat-heading">Overall Accuracy</span>
        <div class="stat-row">
            <component-line [values]="totalStats"></component-line>
        </div>
    </ion-card>
    <ion-card class="content-container stat-container" *ngFor="let stat of stats">
        <span class="stat-heading">Level {{stat.level}}</span>
        <div class="stat-row">
            <div class="graph-wrapper" *ngFor="let data of stat.data">
                <component-donut [value]="data.value"></component-donut>
                <span class="stat-type-label">{{data.type}}</span>
            </div>
        </div>
    </ion-card>
</ion-content>