<ion-header>
  <ion-navbar>
    <button ion-button menuToggle *ngIf="showMenu">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div *ngIf="!loaded" class="loader">Loading...</div>
  <div *ngIf="loaded">
    <div class="shim" *ngIf="showMenuOverlay">
      <div class="menu-overlay">
        <button ion-button clear (click)="closeMenu()"><ion-icon name="close"></ion-icon></button>
        <button ion-button block (click)="takePicture()">New Profile Photo</button>
        <button ion-button block (click)="choosePicture()">Choose Photo from Library</button>
      </div>
    </div>
    <ion-card>
      <div *ngIf="photoLoading" class="loader">Loading...</div>
      <div *ngIf="!photoLoading" class="profile-image-container">
        <div class="profile-image-preview" [ngStyle]="{'background-image': 'url(' + user.img + ')'}">
        </div>
        <a href="javascript:void(0);" (click)="changePicture()" role="button">Change Profile Picture</a>
      </div>
    </ion-card>
    <ion-card>
      <div class="profile-image-container">
        <div class="profile-image-preview" [ngStyle]="{'background-image': 'url(' + user.img + ')'}">
        </div>
        <a href="javascript:void(0);" (click)="changePicture()" role="button" title="Change Picture">Change Picture</a>
      </div>
      <div class="profile-settings-container">
        <ion-list>
          <ion-item>
            <ion-label floating>Profile Name</ion-label>
            <ion-input type="text" [(ngModel)]="user.name" value="{{user.name}}"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Native Language</ion-label>
            <ion-select [(ngModel)]="user.nativeLang">
              <ion-option *ngFor="let lang of langs">{{lang}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <div class="button-group-container">
          <button ion-button [disabled]="!user.name || !user.nativeLang" (click)="submitUser()">Submit</button>
        </div>
      </div>
    </ion-card>
  </div>
</ion-content>